

h3{
    padding-top: 0.25em;
}

.vertical-timeline-element-content{
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15);
    padding: 2em 3em !important;
}

.date{
    color: black;
    font-weight: 500;
}

#description{
    margin: 1.5em 0  2em 0;
}

.button{
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
}

.workButton{
    background-color: #C99EFD;
}

.workButton:hover{
    background-color: #bb86fc;
}

.studyButton{
    background-color: #60AADB;
}

.studyButton:hover{
    background-color: #3498db;
}

@media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date{
        display: block !important;
        float: none !important;
        color: black;
        margin-top: 1.5em;
    }
}